.input{
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.cardbody{
    height: 850px;
    width: 400px;
}
.container{
    height: 400px;
    width: 50px;
}